@import "variables";

*{
    font-family: Helvetica, Arial,  sans-serif
}
html{
    background: $primary-light;
}
body{
    background: $secondary-dark;
}

.f-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    // background: $primary-light;
    transition: all 0.3s ease-in;
    -moz-transition:  all 0.3s ease-in;
    -o-transition:  all 0.3s ease-in;
    -webkit-transition:  all 0.3s ease-in;
    color: white;
    display: flex;
    z-index: 5;
    
    .logo{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img{
            height: 50%;
        }
    }
    .links{
        width: 70%;
        text-align: center;
        display: flex;
        padding-left: 200px;
        @media screen and (max-width: 1024px) {
            padding-left: 50px;
        }
        @media screen and (max-width: 768px) {
            justify-content: flex-end;
        }
        
        .link{
            display: flex;
            margin: 0;
            width: 150px;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: white;
            text-decoration: none;
            -moz-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;

            &:hover, &.active{
                background: $primary-dark;
            }
            &.bars{
                display: none;
            }
            @media screen and (max-width: 768px) {
                display: none;
                &.bars{
                    display: flex;
                    width: 50px;
                }
            }
        }
    }
}

.f-hero{
    height: $header-height * 10;
    width: 100%;
    background: url('/static/imgs/hero-2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    @media screen and (max-width: 786px) {
        height: $header-height * 7;
    }
    h1{
        font-size: 35px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #ffffff;
        box-sizing: border-box;
        // background: red;
        @media screen and (max-width: 768px) {
            font-size: 25px;
            padding: 50px;
            text-align: left !important;
        }
    }
}

.f-footer{
    background: $primary-light;
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding-top: 50px;
    margin-bottom: 0;
    position: relative;
    img{
        width: 100px;
        height: 40px;
        margin-bottom: 20px;
    }
    h5{
        // position: absolute;
        // bottom: 10px;
        text-align: center;
        // left: 40%;
        margin-top: 50px;
        color: white;
        font-size: 16px;
        padding: 20px;
    }
    .link{
        display: block;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #ffffff;
        margin: 5px;
        padding: 5px 0;
    }
}

.page-section{
    margin-top: $header-height;
    @media screen and (max-width: 768px) {
        margin-top: $header-height * 0.5;
    }
    .title{
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-transform: capitalize;
    }
    .text-content{
        // font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.44;
        letter-spacing: 0.4px;
        text-align: justify;
        @media screen and (max-width: 768px) {
            padding: 20px;
        }
    }
    
    .items{
        // .row{
        //     margin: 20px 0;
        // }
        .service{
            position: relative;
            // border: 2px solid $primary-dark;
            // border-radius: 10px;
            margin-top: 50px;
            width: 100%;
            height: $header-height * 3;
            cursor: pointer;

            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: black;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0.2;
            }

            img{
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
            p{
                width: 100%;
                padding: 20px;
                // background: red;
                position: absolute;
                top: 30%;
                color: white;
                left: 0;
                z-index: 2;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 22px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.3px;
                text-align: center;
            }
            &:hover{
                // cur
            }
        }
    }
}

.actions{
    .read-more{
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #c46c0c;
        text-decoration: none;
        &:hover{
            color: $primary-light;
        }
    }
}

.f-mobile-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 6;
    display: none;
   
    .f-sidebar{
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        height: 100%;
        background: $primary-light;
        color: white;
        .link{
            &.bars{
                padding: 20px;
            }
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
            &.active, &:hover{
                background: $primary-dark;
                // border-left: 2px solid #dddddd;
            }
        }
    }
}

.banner{
    width: 100%;
    height: $header-height * 5;
    background: url('/static/imgs/page-header.png');
    background-position: 50% 50%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    @media screen and (max-width: 768px) {
        height: $header-height * 3;
    }
}

.about{
    .container{
        p{
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.44;
            letter-spacing: 0.4px;
        }
    }
}

.see-our-work{
    cursor: pointer;
    display: flex;
    position: relative;
    background: url('/static/imgs/see-our-work.png');
    height: $header-height * 4;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.6;
        top: 0;
        left: 0;
    }
    h1{
        position: relative;
        font-size: 50px;
        color: white;
        border: 7px solid white;
        padding: 30px 50px;
        @media screen and (max-width: 768px) {
            width: 90%;
            font-size: 40px;
        }
    }
}

.our-works{
    // background: $secondary-dark;
    .item{
        overflow: hidden;
        margin-bottom: 20px;
        background: white;
        width: 100%;
        // height: 500px;
        padding: 50px;
        p{
            line-height: 2;
            text-align: justify;
        }

        @media screen and (max-width: 768px) {
            padding: 30px;
        }
        
    }
}

.single-article{
    background: white;
    padding: 50px;
    width: 100%;
    line-height: 2;
    margin-bottom: 20px;
    p{
        text-align: justify;
    }


    @media screen and (max-width: 768px) {
        padding: 30px;
        .title{
            font-size: 20px;
            font-weight: 540;
        }
    }
}

.other-articles{
    background: white;
    padding: 20px;

    a{
        display: block;
        // background: red;
        margin-bottom: 5px;
        color: black;
        text-decoration: none;
        border-bottom: 1px solid $primary-light;
        padding: 10px 0;
        font-weight: bold;
        &:hover{
            color: $primary-dark;
        }
    }
}

.no_change{
    background: $primary-light;
}

.contact-us{
    // box-shadow: 1px 1px 5px rgba(black, 0.2);
}

.contact-info{
    padding: 20px;
    background: white;
    height: 400px;
    color: black;

    p{
        // background: yellow;
        margin: 10px 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fa{
            font-size: 30px;
            display: inline-block;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #58ADE6;
            border-radius: 50%;
            color: white;
        }
    }
}
.contact-media{
    background: #ffffff;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .btn{
        flex-grow: 1;
        margin: 0;
        border-radius: 0;
        font-size: 25px;
        border: none;

        &.facebook{
            background: #4867AA;
        }

        &.twitter{
            background: #1B95E0;
        }

        &.instagram{
            background: #c46c0c;
        }

        &.google{
            display: flex;
            justify-content: center;
            align-items: center;

            background: purple;
        }
    }
}

.f-card{
    background: white;
    padding: 50px;
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}

.f-glow{
    animation: glow 7s ease-in;
    animation-iteration-count: infinite;
}

@keyframes glow{
    0%, 20%, 40%, 60%, 80%, 100%{
        opacity: 1;
    }
    10%, 30%, 50%, 70%, 90%{
        opacity: 0.2;
    }
    
}