* {
  font-family: Helvetica, Arial, sans-serif; }

body {
  background: rgba(216, 216, 216, 0.26); }

.f-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  color: white;
  display: flex;
  z-index: 5; }
  .f-header .logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .f-header .logo img {
      height: 50%; }
  .f-header .links {
    width: 70%;
    text-align: center;
    display: flex;
    padding-left: 200px; }
    @media screen and (max-width: 1024px) {
      .f-header .links {
        padding-left: 50px; } }
    @media screen and (max-width: 768px) {
      .f-header .links {
        justify-content: flex-end; } }
    .f-header .links .link {
      display: flex;
      margin: 0;
      width: 150px;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .f-header .links .link:hover, .f-header .links .link.active {
        background: #025231; }
      .f-header .links .link.bars {
        display: none; }
      @media screen and (max-width: 768px) {
        .f-header .links .link {
          display: none; }
          .f-header .links .link.bars {
            display: flex;
            width: 50px; } }

.f-hero {
  height: 700px;
  width: 100%;
  background: url("/static/imgs/hero-2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  @media screen and (max-width: 786px) {
    .f-hero {
      height: 490px; } }
  .f-hero h1 {
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .f-hero h1 {
        font-size: 25px;
        padding: 50px;
        text-align: left !important; } }

.f-footer {
  background: #037a36;
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 0;
  position: relative; }
  .f-footer img {
    width: 100px;
    height: 40px;
    margin-bottom: 20px; }
  .f-footer h5 {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 16px;
    padding: 20px; }
  .f-footer .link {
    display: block;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
    margin: 5px;
    padding: 5px 0; }

.page-section {
  margin-top: 70px; }
  @media screen and (max-width: 768px) {
    .page-section {
      margin-top: 35px; } }
  .page-section .title {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: capitalize; }
  .page-section .text-content {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.44;
    letter-spacing: 0.4px;
    text-align: justify; }
    @media screen and (max-width: 768px) {
      .page-section .text-content {
        padding: 20px; } }
  .page-section .items .service {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 210px;
    cursor: pointer; }
    .page-section .items .service::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0.2; }
    .page-section .items .service img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit; }
    .page-section .items .service p {
      width: 100%;
      padding: 20px;
      position: absolute;
      top: 30%;
      color: white;
      left: 0;
      z-index: 2;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: center; }

.actions .read-more {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #c46c0c;
  text-decoration: none; }
  .actions .read-more:hover {
    color: #037a36; }

.f-mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 6;
  display: none; }
  .f-mobile-nav .f-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background: #037a36;
    color: white; }
    .f-mobile-nav .f-sidebar .link {
      display: block;
      padding: 10px;
      color: white;
      text-decoration: none; }
      .f-mobile-nav .f-sidebar .link.bars {
        padding: 20px; }
      .f-mobile-nav .f-sidebar .link.active, .f-mobile-nav .f-sidebar .link:hover {
        background: #025231; }

.banner {
  width: 100%;
  height: 350px;
  background: url("/static/imgs/page-header.png");
  background-position: 50% 50%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  @media screen and (max-width: 768px) {
    .banner {
      height: 210px; } }

.about .container p {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.44;
  letter-spacing: 0.4px; }

.see-our-work {
  cursor: pointer;
  display: flex;
  position: relative;
  background: url("/static/imgs/see-our-work.png");
  height: 280px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  margin-top: 50px;
  justify-content: center;
  align-items: center; }
  .see-our-work::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    top: 0;
    left: 0; }
  .see-our-work h1 {
    position: relative;
    font-size: 50px;
    color: white;
    border: 7px solid white;
    padding: 30px 50px; }
    @media screen and (max-width: 768px) {
      .see-our-work h1 {
        width: 90%;
        font-size: 40px; } }

.our-works .item {
  overflow: hidden;
  margin-bottom: 20px;
  background: white;
  width: 100%;
  padding: 50px; }
  .our-works .item p {
    line-height: 2; }

.single-article {
  background: white;
  padding: 50px;
  width: 100%;
  line-height: 2;
  margin-bottom: 20px; }

.other-articles {
  background: white;
  padding: 20px; }
  .other-articles a {
    display: block;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #037a36;
    padding: 10px 0;
    font-weight: bold; }
    .other-articles a:hover {
      color: #025231; }

/*# sourceMappingURL=style.css.map */
