<template>
    <div class="about">
        <f-banner content="Who We Are"></f-banner>
        <div class="container f-card">
            <p>
                The founders of FANPAG have over the years observed a gradual growth in the
             public and industrial sector of the economy with a corresponding high demand 
             from regulatory agencies and other stakeholders for improvement in environmental
              management. Whereas the companies have sort to respond positively to these demands
               there has been the challenge of achieving acceptable environmental goals in some
                sectors within the regulatory framework.</p>

            <p>
                FANPAG Company limited was established in 2014 to provide innovative and sustainable
                 solutions in environmental management, to meet the high expectations of industrial 
                 establishments and corporate institutions. FANPAG seek to provide the needed environmental 
                 services that will ensure commitments are met, while enhancing operational capabilities in 
                 a continuous improvement environment. FANPAG delivers support that ensures environmental 
                 excellences, quality and value addition. The services of FANPAG are tailored to meet the 
                 individual client requirement and FANPAG adds quality and value to cherished clients at affordable cost.
            </p>

            <p>
                It is the objective of FANPAG to add quality and value to client’s operations in the delivery of 
                environmental support services. FANPAG offers reliable technological environmental services and
                 interventions to support operational partner in its area of specialization. FANPAG has the technical
                  know-how, the specific competence and the technical and human resource to ensure the efficient and
                   timely delivery of services. Based on clients’ request, services are specialized and scoped to meet
                    clients demand. FANPAG is client oriented and job specifications are discussed for client satisfaction. 
                    We then work with clients as a team to develop cost-effective strategies that is delivered in a timely
                     manner to bring environmental challenges under client control with the highest levels of quality service 
                     and customer satisfaction.
            </p>
        </div>
        <div class="see-our-work">
            <router-link :to="{name: 'works'}" tag="h1">See Our Work</router-link>
        </div>
    </div>
</template>

<script>
import FBanner from './commons/banner.vue';
export default {
    components: {FBanner},
    mounted () {
        $('html, body').animate({
            scrollTop: (0)
        },500);
    }
}
</script>
