<template>
    <div class="article">
        <f-banner content="What We Do" v-show="!mainArticle.photos.length"></f-banner>
        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" v-show="mainArticle.photos.length">
            <ol class="carousel-indicators">
                <li v-for="(photo, index) in mainArticle.photos" :key="index" data-target="#carouselExampleIndicators" :data-slide-to="index" ></li>
            </ol>
            <div class="carousel-inner full-height" style="height:100%;">
                <div class="carousel-item" style="height:100%;" v-for="(photo, index) in mainArticle.photos" :key="index" :class="{'active': index == 0}">
                    <img class="d-block w-100" :src="photo.name" :alt="photo.caption" style="height:100%;width:100%;object-fit:cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="text-white">{{photo.caption}}</h2>
                        <!-- <p>Some description</p> -->
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-md-8">
                   <div class="single-article" v-if="!fetching">
                       <h2 class="title">{{mainArticle.title}}</h2><br>
                        <p>{{mainArticle.description}}</p>
                   </div>

                   <div class="our-works" v-else>
                        <article class="item f-glow"></article>
                        <article class="item f-glow"></article>
                        <article class="item f-glow"></article>
                        <div class="text-center">Fetching articles, please wait...</div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <p>Other Articles</p>
                    <div class="other-articles">
                        <a href="javascript:void(0)" v-for="(article, index) in articles.data" :key="index" @click="$router.push({name: 'article', query: {article_id: article.id}})">
                            {{article.title}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-5" v-if="mainArticle.videos.length">
                <div class="col-12 col-md-8">
                    <div class="video" v-if="mainArticle.videos.length">
                       <video width="100%" height="100%" id="playVideo" controls>
                            <source :src="mainArticle.videos[0].name" type="video/mp4">
                            <source :src="mainArticle.videos[0].name" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                   </div>
                </div>
                <div class="col-12 col-md-4">
                    <p>Associated Videos</p>
                    <div class="other-articles">
                        <a href="javascript:void(0)" v-for="(video, index) in mainArticle.videos" :key="index"  @click="selectVideo(video.name)">
                            {{video.caption}}
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import FBanner from './commons/banner.vue';
export default {
    components: {FBanner},
    data () {
        return {
            mainArticle: {
                photos: [], videos: []
            },
            selectedPhoto: {},
            videoName: '',
            fetching: false
        }
    },
    mounted () {
        this.fetchArticle()
        $('.f-header').addClass('no_change')
    
        $('.carousel').css({
            height: (window.innerHeight * 0.8) + 'px'
        }).carousel({
            interval: 5000
        })

        $('html, body').animate({
            scrollTop: (0)
        },500);
    },
    computed: {
        ...mapGetters({
            articles: 'getArticles'
        })
    },
    methods: {
        fetchArticle (id) {
            if (!id) {
                id = this.$route.query.article_id
            }
            this.fetching = true
            this.axios({
                url: `articles/${id}`,
                method: 'get'
            }).then(response => {
                // console.log(response.data)
                this.mainArticle = {...response.data.article}

                // console.log(this.mainArticle.photos)

                this.mainArticle.photos = this.mainArticle.photos.filter(item => item.status === 'published')
                this.mainArticle.videos = this.mainArticle.videos.filter(item => item.status === 'published')

                if (this.mainArticle.primary_image) {
                    this.mainArticle.photos.unshift({name: this.mainArticle.primary_image, caption: this.mainArticle.title})
                }
                $('.carousel').carousel('cycle')
                this.fetching = false
            }).catch(err => {
                this.fetching = false
            })
        },
        selectVideo (name) {
            this.videoName = name
            $('#playVideo').attr('src', name)[0].load()
        }
    },
    watch: {
        '$route.query.article_id' () {
            this.fetchArticle(this.$route.query.article_id)
            $('html, body').animate({
                scrollTop: (0)
            },500);
        }
    }
}
</script>
