<template>
    <div class="our-works">
        <f-banner content="Get intouch"></f-banner>
        <div class="container">
            <div class="contact-us">
                <div class="row no-gutters">
                <div class="col-12 col-md-4">
                    <div class="contact-info">
                        <h4 class="text-white text-center">Contact Information</h4>
                        <div style="display:flex;flex-direction:column;justify-content:flex-start;align-items:center;height:100%;">
                            <p><span class="fa fa-mobile"></span> <span>+233 50 931 3793</span></p>
                            <p><span class="fa fa-envelope"></span> <span>info@fanpag.com</span></p>
                            <p><span class="fa fa-map-marker"></span> <span>PLOT 38 BLOCK L MEDUM, KUMASI</span></p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="contact-media">
                        <button class="btn btn-primary facebook btn-social btn-block"><span class="fa fa-facebook"></span></button>
                        <button class="btn btn-primary twitter btn-social btn-block"><span class="fa fa-twitter"></span></button>
                        <button class="btn btn-primary instagram btn-social btn-block"><span class="fa fa-instagram"></span></button>
                        <a href="mailto:info@fanpag.com" class="btn btn-danger google  btn-social btn-block"><span class="fa fa-at"></span></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import FBanner from './commons/banner.vue';
export default {
    components: {FBanner},
    mounted () {
        $('html, body').animate({
            scrollTop: (0)
        },500);
    }
}
</script>
<style scoped>
.form-control:focus{
    box-shadow: none;
}
</style>
