<template>
<div class="home">
  <div class="f-hero">
      <h1 class="container text-center">Providing Affordable, Sustainable Environmental Solutions That Ensure Continuous Business Growth.</h1>
  </div>
  <div class="container">
    
     <div class="page-section f-card">
      <!-- <h2 class="title">About</h2> -->
      <p class="text-content">It is the objective of FANPAG to add quality 
        and value to client’s operations in the delivery of environmental support
        services. FANPAG offers reliable technological environmental services and interventions 
        to support operational partner in its area of specialization. FANPAG has the technical know-how,
          the specific competence and the technical and human resource to ensure the efficient and timely 
          delivery of services. Based on clients’ request, services are specialized and scoped to meet clients
          demand. FANPAG is client oriented and job specifications are discussed for client satisfaction. We 
          then work with clients as a team to develop cost-effective strategies that is delivered in a timely
        manner to bring environmental challenges under client control with the highest levels of quality service 
        and customer satisfaction.
      </p>
      
      <div class="readmore" v-if="readMore">
        <p class="text-danger" style="font-size:12px;">Click to hide</p>
      </div>
      <div class="actions">
        <a href="javascript:void(0)" v-if="readMore" @click="readMore = false" class="read-more">Hide</a>
        <a href="javascript:void(0)" v-if="!readMore" @click="readMore = true" class="read-more">Read More</a>
    </div>
  </div>

  <div class="page-section">
      <h2 class="title">services</h2>
      <div class="items">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="service">
              <p>General Environmental Services</p>
              <img src="/static/imgs/general-envt.png">
            </div>
          </div>
           <div class="col-12 col-sm-6 col-md-4">
            <div class="service">
              <p>Waste Management</p>
              <img src="/static/imgs/waste-management.png">
            </div>
          </div>
           <div class="col-12 col-sm-6 col-md-4">
            <div class="service">
              <p>Water and Waste Water Treatment (Plant Design)</p>
              <img src="/static/imgs/water-managment.png">
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="service">
              <p>Reasearch & Development</p>
              <img src="/static/imgs/research&development.png">
            </div>
          </div>
           <div class="col-12 col-sm-6 col-md-4">
            <div class="service">
              <p>Training in Environmental Stewardhsip</p>
              <img src="/static/imgs/training.png">
            </div>
          </div>
           <!-- <div class="col-12 col-sm-6 col-md-4">
            <div class="service">
              <img src="/static/imgs/general-envt.png">
            </div>
          </div> -->
        </div>
      </div>
  </div>


  </div>
</div>
</template>
<script>
export default {
  data () {
    return {
      readMore: false
    }
  },
  mounted () {
    $('html, body').animate({
        scrollTop: (0)
    },500);
  }
}
</script>
