<template>
    <div class="our-works">
        <f-banner content="What We Do"></f-banner>
        <div class="container">
            <div class="row" v-if="articlesDownloaded">
                <div class="col-12 col-md-6" v-for="(article, index) in articles.data" :key="index">
                    <article class="item" style="min-height:500px;">
                        <h4 class="title">{{article.title}}</h4>
                        <p>{{article.description.slice(0, 500)}}...</p>
                        <div class="actions text-right">
                            <router-link :to="{name: 'article', query: {article_id: article.id}}" tag="a" href="javascript:void(0)" class="read-more">Read More</router-link>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row" v-if="!articlesDownloaded">
                <div class="col-12 col-md-6">
                    <article class="item f-glow"></article>
                    <article class="item f-glow"></article>
                    <article class="item f-glow"></article>
                    <!-- <article class="item"></article> -->
                </div>
                <div class="col-12 col-md-6">
                    <article class="item f-glow"></article>
                    <article class="item f-glow"></article>
                    <article class="item f-glow"></article>
                    <!-- <article class="item"></article> -->
                </div>
                <div class="col-12 text-center">
                    Fetching articles, please wait...
                </div>
            </div>
            <!-- <nav aria-label="Page navigation mt-5" style="display:flex;justify-content:center;">
                <ul class="pagination">
                    <li class="page-item" :class="{'disabled': !articles.prev_page_url}"><a @click="fetchArticles(articles.prev_page_url)" class="page-link" href="javascript:void(0)">Previous</a></li>
                    <li class="page-item" :class="{'disabled': !articles.next_page_url}"><a @click="fetchArticles(articles.next_page_url)" class="page-link" href="javascript:void(0)">Next</a></li>
                </ul>
            </nav> -->
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import FBanner from './commons/banner.vue';
export default {
    components: {FBanner},
    computed: {
        ...mapGetters({
            articles: 'getArticles',
            articlesDownloaded: 'articlesDownloaded'
        })
    },
    mounted () {
        $('html, body').animate({
            scrollTop: (0)
        },500);

        this.axios({
            method: 'get',
            url: 'articles?site=1'
        }).then(response => {
            console.log(response.data)
            this.$store.dispatch('setArticles', response.data.articles)
        })
    },
    methods: {
        fetchArticles (url) {
            this.axios({
                method: 'get',
                url
            }).then(response => {
                // console.log(response.data)
                this.$store.dispatch('setArticles', response.data.articles)
            })
        }
    }
}
</script>
