<template>
    <footer class="f-footer">
       <div class="container">
            <div class="row">
                <div class="col-12 col-sm-2">
                    <img src="/static/imgs/logo-export/0.75x/whiteldpi.png"/>
                </div>
                <div class="col-12 col-sm-2">
                    <router-link :to="{name: 'home'}" tag="a" class="link" href="javascript:void(0)">Home</router-link>
                    <!-- <a class="link" href="javascript:void(0)">Our Clients</a> -->
                </div>
                <div class="col-12 col-sm-2">
                    <router-link :to="{name: 'about'}" tag="a" class="link" href="javascript:void(0)">About Us</router-link>
                    <!-- <a class="link" href="javascript:void(0)">Our Clients</a> -->
                </div>
                <div class="col-12 col-sm-2">
                    <router-link :to="{name: 'works'}" tag="a" class="link" href="javascript:void(0)">Our Works</router-link>
                </div>
                <div class="col-12 col-sm-2">
                     <router-link :to="{name: 'contact-us'}" class="link" href="javascript:void(0)">Contact Us</router-link>
                </div>
            </div>
            <h5>ALL RIGHTS RESERVED FANPAG LTD ©2018</h5>
       </div>
    </footer>
</template>
