<template>
    <header class="f-header">
        <div class="logo">
            <img src="/static/imgs/logo-export/0.75x/whiteldpi.png">
        </div>
        <div class="links">
            <router-link :to="{name: 'home'}" tag="a" class="link" href="javascript:void(0)">Home</router-link>
            <router-link :to="{name: 'about'}" tag="a" activeClass="active" class="link" href="javascript:void(0)">About Us</router-link>
            <!-- <a class="link" href="javascript:void(0)">Our Clients</a> -->
            <router-link :to="{name: 'works'}" tag="a" active-class="active" class="link" href="javascript:void(0)"
            :class="{'active': $route.name === 'article'}">Our Works</router-link>
            
            <router-link :to="{name: 'contact-us'}" tag="a" active-class="active" class="link" href="javascript:void(0)">Contact Us</router-link>
            <a @click="showMobileNav" class="link bars" href="javascript:void(0)"><span class="fa fa-bars"></span></a>
        </div>
    </header>
</template>


<script>
export default {
    methods: {
        showMobileNav () {
            $('.f-mobile-nav').fadeIn()
        }
    }
}
</script>
