<template>
    <aside class="f-mobile-nav">
        <div class="f-sidebar">
            <a @click="closeMobileNav" class="link bars text-right" href="javascript:void(0)"><span class="fa fa-times"></span></a>
            <router-link :to="{name: 'home'}" tag="a" class="link" href="javascript:void(0)">Home</router-link>
            <router-link :to="{name: 'about'}" tag="a" active-class="active" class="link" href="javascript:void(0)">About Us</router-link>
            <!-- <a class="link" href="javascript:void(0)">Our Clients</a> -->
            <router-link :to="{name: 'works'}" :class="{'active': $route.name === 'article'}" tag="a" active-class="active" class="link" href="javascript:void(0)">Our Works</router-link>
            
            <router-link :to="{name: 'contact-us'}" tag="a" class="link" href="javascript:void(0)">Contact Us</router-link>
        </div>
    </aside>
</template>

<script>
export default {
    methods: {
        closeMobileNav () {
           $('.f-mobile-nav').fadeOut()
        }
    }
}
</script>
