<template>
  <div>
    <f-header></f-header>
    <f-mobile-nav></f-mobile-nav>
    <router-view/>
    <f-footer></f-footer>
  </div>
</template>

<script>
import {FHeader, FFooter, FMobileNav} from './components';

export default {
  name: 'App',
  components: {FHeader, FFooter, FMobileNav},
  mounted () {
    this.axios({
      method: 'get',
      url: 'articles?site=1'
    }).then(response => {
      console.log(response.data)
      this.$store.dispatch('setArticles', response.data.articles)
    })
  }
}
</script>